/* src/components/Homepage/Home.css */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #1a1a1a;
  color: #fff;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.dashboard-container h1 {
  font-size: 3rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.dashboard-container h2 {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 0.5rem
}

.highlight {
  color: #4ca1ff; /* Change to a brighter color for emphasis */
}

.levels {
  display: flex;
  justify-content: center;
  gap: 5em;
  margin-top: 3em;
  margin-bottom: 20px;
}

.level {
  width: 22.5rem;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  position: relative;
  cursor: pointer;
}

.level-tag {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 1.5rem;
}

.level:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.easy .level-tag {
  background-color: green;
}

.medium .level-tag {
  background-color: orange;
}

.hard .level-tag {
  background-color: red;
}

.next-button {
  padding: 10px 20px;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  background: rgba(255, 255, 255, 0.08);
  cursor: pointer;
  font-size: 16px;
}

.next-button:hover {
  background: rgba(255, 255, 255, 0.2);
}

.button-text {
  font-size: 16px;
}

.dashboard-container h1{
  font-weight: bold;
}
.dashboard-container h2{
  font-weight: bold;
}