/* src/App.css */
body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .app-container {
    text-align: center;
  }
  
  .heading {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .heading .blue {
    background: -webkit-linear-gradient(#C062E2, #9382EF); /* Apply gradient color */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .heading .white {
    color: #ffffff;
  }
  
  .tab-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .tab-button {
    background: none;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-bottom: 2px solid transparent;
    text-decoration: none;
  }
  
  .tab-button.active {
    border-bottom: 2px solid #9382EF;
  }
  